* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --normal-color: #ffffff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    width: 100%;
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

header {
    /* background-color: var(--primary-color); */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: flex;
}

header nav a {
    text-decoration: none;
    color: var(--normal-color);
    background-color: var(--accent1-color);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px 30px;
    font-size: 1rem;
    font-weight: bolder;
    width: 150px;
    height: 100%;
    margin: 10px;
}

nav a {
    text-align: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.section {
    display: flex;
}

form {
    padding-left: 20px;
}

label {
    display: inline-block;
    margin: 5px;
}

.socialmedia a {
    text-decoration: none;
}

#service {
    display: flex;
    padding: 5px 230px;
    text-align: center;
    border: solid var(--accent1-color) 1px;
    border-radius: 10px;
    margin: 10px;
}

#service img {
    padding: 20px;
}

/* footer {
    display: flex;
} */

footer {
    display: flex;
    gap: 16px;
    padding: 20px 150px;
    font-family: var(--body-font);
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--normal-color);
    background-color: var(--accent1-color);
}

footer a {
    color: #333;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

footer a:hover {
    color: #6a4cff;
    transform: scale(1.1);
}